[Unit]
Description=persistent gpg and ssh keychain
PartOf=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/keychain --systemd --agents gpg,ssh

[Install]
WantedBy=graphical-session.target
